 <!--Main layout-->

        
    <div class="row justify-content-center">

        <!-- Material form contact -->
        <form>
            <p class="h4 text-center mb-4">Hinterlasse uns eine Nachricht:</p>

            <!-- Material input text -->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="materialFormContactNameEx" class="form-control">
                <label for="materialFormContactNameEx">Name</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="materialFormContactEmailEx" class="form-control">
                <label for="materialFormContactEmailEx">HWR-Mail</label>
            </div>
                
            <!-- Material input subject -->
            <div class="md-form">
                <i class="fa fa-tag prefix grey-text"></i>
                <input type="text" id="materialFormContactSubjectEx" class="form-control">
                <label for="materialFormContactSubjectEx">Thema</label>
            </div>
                
            <!-- Material textarea message -->
            <div class="md-form">
                <i class="fa fa-pencil prefix grey-text"></i>
                <textarea type="text" id="materialFormContactMessageEx" class="form-control md-textarea" rows="3"></textarea>
                <label for="materialFormContactMessageEx">Nachricht</label>
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-outline-primary" type="submit">Senden<i class="fa fa-paper-plane-o ml-2"></i></button>
            </div>
        </form>
        <!-- Material form contact -->
                                                 
    </div>
        

    